body {
    padding-top: 55px;
}
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}
td, th {
    text-align: center;
}
.form-area
{
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}
.card-custom {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 5px;
}
#map{
    height:400px;
}
